<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block style
    body
        header.main-header
                nav.main-header__nav
                    ul.main-header__item-list
                        li.main-header__item
                            a(class = (path === "/" ? "active" : ""), href="/") Shop 
                        li.main-header__item
                            a(class = (path === "/admin/add-product" ? "active" : ""), href="/admin/add-product") Add Product 
                        li.main-header__item
                            a(class=(path === "/aboutus" ? "active" : ""), href="/aboutus") AboutUs
                        li.main-header__item
                            a(class=(path === "/contactus" ? "active" : ""), href="/contactus") ContactUs
        block mainContent
