extends layouts/main-layouts.pug

block style
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")

block mainContent
    main
        h1 Add Product
        form(class="product-form", action="/admin/add-product", method="POST")
            div(class="form-control")
                label(for="title") Product Title
                input(type="text", name="title", id="title")
            button(type="submit") Submit

           



