extends layouts/main-layouts.pug

block mainContent
        main
            h1 My Products
            p List of all the products...via Pug template engine

            if prods.length > 0
                div(class="grid")
                    each product in prods
                        article(class="card product-item") 
                            header(class="card__header")
                                h1(class="product__title") #{product.title}  ...pug
                            div(class="card__image")
                                image(src="https://www.adazing.com/select/colors/preview-06.jpg", alt="Book" width="200", height="200")
                            div(class="card_content")
                                h2.product__price $19.95
                                p.product_description A Very interesting book so many even more
                            .card_actions
                                button.btn Add to Cart
            else 
                h2 No Product(s)



